div.cookie {
  height: 300px;
  width: 29%;
  margin: 2% 2%;
  padding: 0;
  background-color: #fbfbf2;
  display: inline-block;

      div.cutter {
      width: 89%;
      height: 72%;
      margin: auto;
      margin-top: 6%;
      padding: 0;
      background-color: #cccccc;
      overflow: hidden;
      img {
        height: 100%;
        position: relative;
        top: 50%;
        left: -22.5%;
        transform: translateY(-50%);
      }
    }

}
